h1, h2,p {
    text-align: center;
  }

  /*OMG YOU CAN ASSIGN MULTIPLE ELEMENTS W CSS???*/

  body{
   /* background-color:burlywood; */
  }

  div {
    width: 80%;
    background-color: burlywood;
    /*this makes it 80% of whatever the body size is set to btw, not the full html 
    page, so if body set 1000px, div na 800px inna width*/
  }