h1, h2,p {
    text-align: center;
  }

  /*OMG YOU CAN ASSIGN MULTIPLE ELEMENTS W CSS???
  YOU CAN ASSIGN BACKGROUND IMAGE BY URL????*/

  body {
  
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding:20px; 
/*
okay so this padding means that the inside is kinda squished due to the padding....
it makes the inside sections smalled
*/
}



  .menu {
    width: 80%;
    max-width:500px;
    /*max width makes sure the widest the thing gets is 500px here*/
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    padding:20px;


    /*this makes it 80% of whatever the body size is set to btw, not the full html 
    page, so if body set 1000px, div na 800px inna width
    
    also center a div with margin auto settings
    */
  }

  angrydiv { background: rgb(116, 52, 0); color: white; 
    display: block; }

  .item p{

    display:inline-block;
    margin-top:5px;
    margin-bottom:5px;
    /*this margin makes the gap in the menu items largerxx*/

      /*okay so this means that if you have a paragraph element??? 
  and that paragraph element is called item?? then you appply the following css
  meaning the stuff underneath is now on one line*/
  }

 .dessert, .flavor {
    text-align: left;
    width: 75%;
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  /*OKAY SO the width increase will widen each of the para blocks,,
  that means doing 50% may create an extra line....this could be solved by using span ngl
  we move tho */

  /*read pls*/

  h1 {
    font-size: 40px;
    margin-bottom:15px;
    margin-top:15px;

  }
  
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2 {
    font-family: Impact, serif;
  }

  hr{
    height:2px;
    background-color:brown;
    border-color: brown;
    /*get rid of the outline too babe, use the border colour for that
    i think she messed up with the push and pull thingy
    */
  }

  .address{
    margin-bottom: 5px;
  }

  footer {
    font-size: 14px;
  }

  img{
    display:block;
    margin:auto;
  }
  /*fi centre the image*/

  .bottom-line {
    margin-top: 25px;
    
  }
a{
  color:black;}

  /*A TAGS!! YOU CAN CHANGE THEM TOO*/
  a:visited{
    color:black;
  }

  a:hover{
    color:brown;
    font-weight: 700;
  }

  a:active{
    color:brown;
  }

  /*hovering you can change the effect too!*/
  
  /*ohmygosh so you canselect if its visited and do color changes!!*/

  /*You change properties of a link when the link has actually
   been visited by using a pseudo-selector that looks like 
   a:visited { propertyName: propertyValue; }*/