h1, h2,p {
    text-align: center;
  }

  /*OMG YOU CAN ASSIGN MULTIPLE ELEMENTS W CSS???*/

  body {
  
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    
  }

  .menu {
    width: 80%;
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;


    /*this makes it 80% of whatever the body size is set to btw, not the full html 
    page, so if body set 1000px, div na 800px inna width
    
    also center a div with margin auto settings
    */
  }

  .item p{

    display:inline-block;
  }
  /*okay so this means that if you have a paragraph element??? 
  and that paragraph element is called item?? then you appply the following css*/